<div class="topBar">

    <h1>Статус на въпроса: </h1>

    <h3 style="color:black; text-align:center">Въпрос успешно изтрит</h3>
</div>

<div id="wrapper">

    <div id="Form">

        <form method="post" action="~/Admin/Panel">

            <table style="width:100%" align="right">

                <div style="text-align:center">

                    <input type="submit" value="Назад" />

                </div>

            </table>

        </form>

    </div>

</div>