
@{
    ViewBag.Title = "InvalidDate";
}

<div class="topBar">

    <h1>Невалидни дати.</h1>

    <h3 style="color:black; text-align:center">Моля, изберете валидни начална и крайна дата! Началната дата не може да е в миналото, а крайната дата не може да е преди началната.</h3>
</div>

<div id="wrapper">

    <div id="Form">

        <form method="post" action="~/Admin/Create">

            <table style="width:100%" align="right">

                <div style="text-align:center">

                    <input type="submit" value="Назад" />

                </div>

        </form>
    </div>
</div>
