@{

    ViewBag.Title = "Admin Panel";

}
<html>

<div class="topBar">

    <h1>Администраторски панел</h1>

    <h3 style="color:black; text-align:center">@ViewData["question"]</h3>
</div>

<body>
    <div class="eq">

        <table style="width:100%">

            <tr>

                <td><a href="~/Admin/Create">Създай въпрос</a></td>

                <td><a href="~/Admin/Edit">Редактирай въпрос</a></td>

            </tr>

            <tr>

                <td><a href="~/Admin/Delete">Изтрий въпрос</a></td>

                <td><a href="~/Admin/ShowStats">Покажи статистика</a></td>

            </tr>

        </table>

        <a style="text-align:center" href="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/53236186_10205336235681841_5560061062771900416_n.jpg?_nc_cat=109&_nc_oc=AQkfsdqtmMbJWrjkWNlpufyr2-UUpSjAwrpu_6k5aScAoiIvYHhh1xIbjGjsTwVuREU&_nc_ht=scontent-sof1-1.xx&oh=b5492c48a1497ee14941640654a3e62d&oe=5D7B66E9">Спаси света</a>


    </div>
</body>
</html>