@using Survey.Models;
@model Survey.Models.View_Models.QuestionViewModel
@{
    ViewBag.Title = "Show statistics";
}

<!DOCTYPE html>

<html>

<head>

    <style>
        input[submit] {
            width: 30000px;
        }
    </style>

</head>

<body>

    <div class="topBar">

        <h1>Статистика на въпрос</h1>

    </div>

    <div id="wrapper">

        <form method="post" action="~/Admin/Statistic">

            <h3 style="text-align:center">Изберете въпрос от листа</h3>

            <div style="text-align:center" class="chose">

                @Html.DropDownListFor(model => model.SelectedID, new SelectList(DataProvider.GetAllQuestions(), "Id", "Question_text"))

            </div>

            <table align="center" style="font-size:24px">

                <tr class="TableContents">

                    <td>

                        <input type="radio" id="all" name="type" value="gender"> Спрямо пол

                    </td>

                </tr>

                <tr class="TableContents">

                    <td>

                        <input type="radio" id="all" name="type" value="experience"> Спрямо стаж

                    </td>

                </tr>

            </table>

            <div style="text-align:center">

                <input style="width:300px" type="submit" value="Виж статистика" />

            </div>

        </form>

    </div>

</body>

</html>
