using Survey.Models;
@{

    ViewBag.Title = "Statistic Page";
}

<div class="topBar">

    <h1>@ViewData["statisricType"]</h1>

    <div style="padding:10px">

        <img border="0" alt="Статистика" src="@ViewData["stats"]" width="400" height="400">
    </div>

</div>
