
@{
    ViewBag.Title = "UnsuccessfulQuestionSaving";
}

<script type="text/javascript" src="main.js"></script>

<div class="topBar">

    <h1>Упссс... Новият въпрос не е добавен успешно.</h1>
</div>

<div id="wrapper">

    <div id="Form">

        <form method="post" action="~/Admin/Panel">

            <table style="width:100%" align="right">

                <div style="text-align:center">

                    <input type="submit" value="Обратно към началото" />

                </div>

        </form>
